The bank has initially three customers.There were around eight modules . The bank has many customers . Each customer can create many gift card. Balance
should detected from bank balance when a gift card is created.A gift card has a id,
pin.You can Top-up any gift card, close gift card and buy item using gift card(they
are called transactions), etc.

------------------------------------------------------------------------------------------------------------------------------------

Account Login
Purchase
Account LogOut

Giving customer id and password .Password should be encrypted and stored
	Encryption is like A-> B, B->C
	a-> b, b->c, c->d
	0->1, 1->2


On successful login, it should print the account details
	1.Create Gift Card
	2.TopUp
	3.Transaction History
	4.Block
	5.Logout


1.Create Gift Card
	Gift card with 5 digit card no and 4 digit pin number will be genrated

2.TopUp
	For topup, amount need to be reduced from main account balance and added to gift
	card

3.Transaction History
	Should print all the transaction details of a particular gift card

4.Block
	If the card is blocked, shouldn’t be available for topUp, Purchase.the amount in
	gift card should be transferred to main account

5.Logging Out
	After log out, should go to main module,

6.Purchase
	Login to the gift card
	Purchase Amount
	Then print Available balance


7.Redeem points :
	For Every 100 rupee purchase, 1 reward point is added .For 10 reward points, 10
	will be added to main account
8.Doing for Multiple gift cards